/*
    Archive for variables
*/

// Variable Colors for map

$colors: (
  "primary": #12022F,
  "secondary": #594D6D,
  "tertiary": #E7E5EA,
);

$fontWeight: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
);

$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1220px,
  "xl": 1440px,
);
