/*
    Archive for variables
*/

// Variable Colors for map

$colors: (
  "primary": #12022f,
  "secondary": #594d6d,
  "tertiary": #e7e5ea,
  "white": #fff,
);
$fontWeight: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
);
$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1220px,
  "xl": 1440px,
);
